<ion-content [fullscreen]="true">
  <div class="cadastro-container">

    <div class="logo-area">
      <img src="assets/img/logo.png" alt="Logo">
    </div>

    <p class="saudacao">Criar conta</p>

    <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
      <div class="input-wrapper">
        <ion-input type="text" formControlName="nomeUsuario"
          placeholder="Nome de usuário" fill="outline" shape="round">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <ion-input type="email" formControlName="email"
          placeholder="E-mail" fill="outline" shape="round">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <ion-input type="password" formControlName="senha"
          placeholder="Senha" fill="outline" shape="round">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <ion-input type="password" formControlName="confirmarSenha"
          placeholder="Confirmar senha" fill="outline" shape="round">
        </ion-input>
      </div>

      <div class="botoes">
        <ion-button class="btn-secundario" shape="round" (click)="irParaLogin()">
          Já tenho conta
        </ion-button>
        <ion-button class="btn-primario" shape="round" type="submit" [disabled]="!formGroup.valid">
          Cadastrar
        </ion-button>
      </div>
    </form>

  </div>
</ion-content>