<ion-content [fullscreen]="false" [scrollEvents]="true">
  <div class="editar-quadra-container">

    <p class="titulo">Editar Quadra</p>

    <form [formGroup]="formGroup" (ngSubmit)="salvar()">

      <!-- Nome -->
      <div class="app-input-wrapper">
        <ion-input type="text" formControlName="nome" placeholder="Nome da quadra"></ion-input>
      </div>

      <!-- Endereço -->
      <div class="app-input-wrapper">
        <ion-input type="text" formControlName="endereco" placeholder="Endereço"></ion-input>
      </div>

      <!-- Horário de Abertura -->
      <div class="app-input-wrapper">
        <ion-select formControlName="horaAbertura" placeholder="Horário de abertura" interface="popover">
          <ion-select-option *ngFor="let h of horasDisponiveis" [value]="h">
            Abertura: {{ h }}h
          </ion-select-option>
        </ion-select>
      </div>

      <!-- Horário de Fechamento -->
      <div class="app-input-wrapper">
        <ion-select formControlName="horaFechamento" placeholder="Horário de fechamento" interface="popover">
          <ion-select-option *ngFor="let h of horasDisponiveis" [value]="h">
            Fechamento: {{ h }}h
          </ion-select-option>
        </ion-select>
      </div>

      <div class="botoes">
        <ion-button class="btn-secundario" shape="round" (click)="voltar()">
          Cancelar
        </ion-button>
        <ion-button class="btn-primario" shape="round" type="submit" [disabled]="!formGroup.valid">
          Salvar
        </ion-button>
      </div>

    </form>

  </div>
</ion-content>