.esqueceu-senha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 40px 24px;
  max-width: 400px;
  margin: 0 auto;
}

.logo-area {
  margin-bottom: 24px;
  text-align: center;

  img {
    width: 200px;
    max-width: 75vw;
  }
}