<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/conta" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="logo-title">
      <ion-icon name="map-outline"></ion-icon> QuadraFácil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="avatar-area" (click)="trocarFoto()">
    <div class="avatar">
      <ion-icon name="person-outline" *ngIf="!usuario?.fotoPerfil"></ion-icon>
      <img [src]="usuario?.fotoPerfil" *ngIf="usuario?.fotoPerfil">
    </div>
    <input type="file" #fileInput accept="image/*" (change)="onFotoSelecionada($event)" hidden>
  </div>

  <div class="info">
    <p><strong>Nome de usuário:</strong> {{ usuario?.nomeUsuario }}</p>
    <p><strong>Data de entrada:</strong> {{ usuario?.dataEntrada }}</p>
  </div>

  <ion-button expand="block" shape="round" color="danger" class="btn-excluir" (click)="excluirConta()">
    Excluir conta
  </ion-button>

</ion-content>

