<ion-content [fullscreen]="false">
  <div class="conta-container">

    <div class="perfil-area">
      <div class="foto-wrapper">
        <img *ngIf="usuario.fotoPerfil" [src]="usuario.fotoPerfil" alt="Foto de perfil">
        <ion-icon *ngIf="!usuario.fotoPerfil" name="person-outline"></ion-icon>
      </div>
      <p class="nome-usuario">{{ usuario.nomeUsuario }}</p>
    </div>

    <div class="menu-lista">
      <p class="menu-titulo">Informações</p>

      <ion-item button detail="true" (click)="irPara('/app/meu-perfil')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Meu Perfil</ion-label>
      </ion-item>

      <ion-item button detail="true" (click)="irPara('/app/minhas-quadras')">
        <ion-icon name="basketball-outline" slot="start"></ion-icon>
        <ion-label>Minhas Quadras</ion-label>
      </ion-item>

      <ion-item button detail="true" (click)="irPara('/app/meus-amigos')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Meus Amigos</ion-label>
      </ion-item>

      <ion-item button detail="true" (click)="irPara('/app/denuncias')">
        <ion-icon name="warning-outline" slot="start"></ion-icon>
        <ion-label>Denúncias</ion-label>
      </ion-item>

    </div>

    <ion-button expand="block" color="danger" shape="round"
      class="btn-sair" (click)="sair()">
      Sair
    </ion-button>

  </div>
</ion-content>