<ion-content [fullscreen]="true">
  <div class="container">

    <div class="header">
      <p class="app-name">QuadraFácil</p>
      <ion-icon name="map-outline" class="logo-icon"></ion-icon>
      <p class="welcome">Olá de novo!</p>
    </div>

    <form [formGroup]="formGroup">
      <div class="input-group">
        <ion-input
          fill="solid"
          shape="round"
          placeholder="Nome de usuário/ E-mail"
          formControlName="emailOuNome">
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          fill="solid"
          shape="round"
          [type]="mostrarSenha ? 'text' : 'password'"
          placeholder="Senha"
          formControlName="senha">
          <ion-button fill="clear" slot="end" (click)="mostrarSenha = !mostrarSenha">
            <ion-icon [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'" color="medium"></ion-icon>
          </ion-button>
        </ion-input>
      </div>

      <p class="esqueci" (click)="esqueceuSenha()">Esqueci minha senha</p>

      <div class="botoes">
        <ion-button fill="clear" color="dark" (click)="irParaCadastro()">Cadastro</ion-button>
        <ion-button shape="round" color="dark" [disabled]="!formGroup.valid" (click)="entrar()">Login</ion-button>
      </div>
    </form>

  </div>
</ion-content>