<ion-content [fullscreen]="false" [scrollEvents]="true">
  <div class="minhas-quadras-container">

    <ion-button expand="block" shape="round" class="btn-primario btn-criar" (click)="irParaCriarQuadra()">
      Criar Quadra
    </ion-button>

    <p *ngIf="quadras.length === 0" class="vazio">Você ainda não tem quadras cadastradas.</p>

    <div class="quadra-card" *ngFor="let quadra of quadras">
      <div class="quadra-foto" (click)="quadra.situacao !== 'PENDENTE' && irParaQuadra(quadra.idQuadra)">
        <img *ngIf="fotos[quadra.idQuadra]" [src]="fotos[quadra.idQuadra]" alt="Foto da quadra">
        <div *ngIf="!fotos[quadra.idQuadra]" class="sem-foto">
          <ion-icon name="image-outline"></ion-icon>
        </div>
      </div>
      <div class="quadra-info" (click)="quadra.situacao !== 'PENDENTE' && irParaQuadra(quadra.idQuadra)">
        <div class="info-topo">
          <p class="quadra-nome">{{ quadra.nome }}</p>
          <span class="badge-status" [class.pendente]="quadra.situacao === 'PENDENTE'" [class.ativa]="quadra.situacao !== 'PENDENTE'">
            {{ quadra.situacao }}
          </span>
        </div>
        <p class="quadra-endereco">📍 {{ quadra.endereco }}</p>
      </div>

      <div class="card-acoes">
        <ion-button expand="block" shape="round" class="btn-danger" (click)="excluir(quadra)">
          Excluir Quadra
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>