<ion-content [fullscreen]="true">
  <div class="login-container">

    <div class="logo-area">
      <img src="assets/img/logo.png" alt="Logo">
    </div>

    <p class="saudacao">Olá de novo!</p>

    <form [formGroup]="formGroup" (ngSubmit)="entrar()">
      <div class="input-wrapper">
        <ion-input type="email" formControlName="email"
          placeholder="E-mail" fill="outline" shape="round">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <ion-input type="password" formControlName="senha"
          placeholder="Senha" fill="outline" shape="round">
        </ion-input>
      </div>

      <p class="esqueci" (click)="irParaEsqueceuSenha()">Esqueci minha senha</p>

      <div class="botoes">
        <ion-button class="btn-secundario" shape="round" (click)="irParaCadastro()">
          Cadastro
        </ion-button>
        <ion-button class="btn-primario" shape="round" type="submit" [disabled]="!formGroup.valid">
          Entrar
        </ion-button>
      </div>
    </form>

  </div>
</ion-content>