<ion-content [fullscreen]="false">
  <div class="minhas-quadras-container">

    <ion-button expand="block" color="primary" shape="round" class="btn-criar" (click)="irParaCriarQuadra()">
      Criar Quadra
    </ion-button>

    <p *ngIf="quadras.length === 0" class="vazio">Você ainda não tem quadras.</p>

    <div class="quadra-card" *ngFor="let quadra of quadras">
      <div class="quadra-foto" (click)="quadra.situacao !== 'PENDENTE' && irParaQuadra(quadra.idQuadra)">
        <img *ngIf="fotos[quadra.idQuadra]" [src]="fotos[quadra.idQuadra]" alt="Foto da quadra">
        <div *ngIf="!fotos[quadra.idQuadra]" class="sem-foto">
          <ion-icon name="image-outline"></ion-icon>
        </div>
      </div>
      <div class="quadra-info" (click)="quadra.situacao !== 'PENDENTE' && irParaQuadra(quadra.idQuadra)">
        <p class="quadra-nome">{{ quadra.nome }}</p>
        <p class="quadra-endereco">📍 {{ quadra.endereco }}</p>
        <p class="quadra-situacao" [style.color]="quadra.situacao === 'PENDENTE' ? '#e67e22' : '#27ae60'">
          {{ quadra.situacao }}
        </p>
      </div>
      <ion-button expand="block" color="danger" shape="round" class="btn-excluir" (click)="excluir(quadra)">
        Excluir
      </ion-button>
    </div>

  </div>
</ion-content>