ion-header {
  box-shadow: none;
  &::after {
    display: none;
  }
}

ion-toolbar {
  --background: #f5f5f5;
  --border-color: transparent;
  --box-shadow: none;
  text-align: center;
}

.titulo-quadra {
  color: #164299;
  font-weight: 700;
}

.titulo-facil {
  color: #2ecc71;
  font-weight: 700;
}

ion-tab-bar {
  --background: #f5f5f5;
  --border-color: transparent;
  --border: none;
}

ion-tab-button {
  --color: #999999;
  --color-selected: #1a1a2e;
}