<ion-content [fullscreen]="false">
  <div class="perfil-container">

    <p class="titulo">Meu Perfil</p>
    <p class="subtitulo">Gerencie suas informações pessoais.</p>

    <div class="foto-perfil-area">
      <div class="foto-wrapper" (click)="selecionarFoto()">
        <img *ngIf="fotoPerfilPreview" [src]="fotoPerfilPreview" alt="Foto de perfil">
        <ion-icon *ngIf="!fotoPerfilPreview" name="person-circle-outline"></ion-icon>
        <div class="badge-camera">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </div>
      <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="salvar()">

      <div class="app-input-wrapper">
        <ion-input type="text" formControlName="nomeUsuario" placeholder="Nome de usuário"></ion-input>
      </div>

      <div class="app-input-wrapper">
        <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
      </div>

      <p class="link-alterar-senha" (click)="irParaEsqueceuSenha()">Alterar senha</p>

      <ion-button expand="block" shape="round" class="btn-primario" type="submit" [disabled]="!formGroup.valid">
        Salvar Alterações
      </ion-button>

    </form>

  </div>
</ion-content>