<ion-content [fullscreen]="true">
  <div class="cadastro-container">

    <div class="logo-area">
      <img src="assets/img/logov2.png" alt="Logo">
    </div>

    <p class="saudacao">Criar conta</p>

    <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
      
      <!-- Nome de usuário -->
      <div class="input-wrapper" [class.has-error]="formGroup.get('nomeUsuario')?.invalid && formGroup.get('nomeUsuario')?.touched">
        <ion-input type="text" formControlName="nomeUsuario" placeholder="Nome de usuário"></ion-input>
      </div>
      <div class="balao-erro" *ngIf="formGroup.get('nomeUsuario')?.invalid && formGroup.get('nomeUsuario')?.touched">
        <span *ngIf="formGroup.get('nomeUsuario')?.hasError('required')">O nome de usuário é obrigatório.</span>
      </div>

      <!-- E-mail -->
      <div class="input-wrapper" [class.has-error]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
        <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
      </div>
      <div class="balao-erro" *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
        <span *ngIf="formGroup.get('email')?.hasError('required')">O e-mail é obrigatório.</span>
        <span *ngIf="formGroup.get('email')?.hasError('email')">Insira um e-mail válido.</span>
      </div>

      <!-- Senha -->
      <div class="input-wrapper" [class.has-error]="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
        <ion-input type="password" formControlName="senha" placeholder="Senha"></ion-input>
      </div>
      <div class="balao-erro" *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
        <span *ngIf="formGroup.get('senha')?.hasError('required')">A senha é obrigatória.</span>
      </div>

      <!-- Confirmar Senha -->
      <div class="input-wrapper" [class.has-error]="formGroup.get('confirmarSenha')?.invalid && formGroup.get('confirmarSenha')?.touched">
        <ion-input type="password" formControlName="confirmarSenha" placeholder="Confirmar senha"></ion-input>
      </div>
      <div class="balao-erro" *ngIf="formGroup.get('confirmarSenha')?.invalid && formGroup.get('confirmarSenha')?.touched">
        <span *ngIf="formGroup.get('confirmarSenha')?.hasError('required')">Confirme a sua senha.</span>
      </div>

      <div class="botoes">
        <ion-button class="btn-secundario" shape="round" (click)="irParaLogin()">
          Já tenho conta
        </ion-button>
        <ion-button class="btn-primario" shape="round" type="submit" [disabled]="!formGroup.valid">
          Cadastrar
        </ion-button>
      </div>
    </form>

  </div>
</ion-content>